Work/src/tasks/wadl_to_wsdl/application_wadl.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 2.5.1 2014-01-02 13:43:00"/>
    <doc xmlns:jersey="http://jersey.java.net/" jersey:hint="This is simplified WADL with user and core resources only. To get full WADL with extended resources use the query parameter detail. Link: http://idmtsta1.st.sk/delegations-api/application.wadl?detail=true"/>
    <grammars>
        <include href="application.wadl/xsd0.xsd">
            <doc xml:lang="en" title="Generated"/>
        </include>
        <include href="application.wadl/xsd0.xsd">
            <doc xml:lang="en" title="Generated"/>
        </include>
    </grammars>
    <resources base="http://idmtsta1.st.sk/delegations-api">
        <resource path="template">
            <method name="GET" id="searchForTemplates">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="query" name="id"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="type"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="status"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="ownerUid"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="validFrom"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="false" type="xs:boolean" style="query" name="withGrantsConfiguration"/>
                </request>
                <response>
                    <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="templatesResponse"/>
                </response>
            </method>
            <method name="POST" id="createTemplate">
                <request>
                    <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="createTemplate"/>
                </request>
                <response>
                    <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="createTemplateResponse"/>
                </response>
            </method>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="PUT" id="changeTemplateStatus">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="changeTemplateStatus"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="changeTemplateStatusResponse"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="delegation">
            <method name="GET" id="searchDelegations">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="ids"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="entityIds"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="query" name="delegationRequestId"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="delegatorUid"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="delegeeUid"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="delegableUserId"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="ownerUid"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="status"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="type"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="query" name="templateId"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="createdBy"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="sourceSystem"/>
                </request>
                <response>
                    <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="delegationsResponse"/>
                </response>
            </method>
            <method name="POST" id="createDelegations">
                <request>
                    <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="createDelegations"/>
                </request>
                <response>
                    <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="createDelegationsResponse"/>
                </response>
            </method>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="id"/>
                <method name="PUT" id="updateDelegation">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="updateDelegation"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="updateDelegationResponse"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="grant">
            <method name="GET" id="searchForGrants">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="query" name="templateId"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="entityTypes"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="grantName"/>
                </request>
                <response>
                    <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="grantsResponse"/>
                </response>
            </method>
        </resource>
        <resource path="test">
            <method name="GET" id="test">
                <response/>
            </method>
        </resource>
        <resource path="delegableUser">
            <method name="POST" id="addDelegableUserToDelegator">
                <request>
                    <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="addDelegableUserToDelegator"/>
                </request>
                <response>
                    <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="addDelegaleUserToDelegatorResponse"/>
                </response>
            </method>
            <method name="GET" id="searchForDelegableUsers">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="query" name="id"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="status"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="emailRequested"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="label"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="delegatorUid"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="delegeeUid"/>
                </request>
                <response>
                    <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="delegableUsersResponse"/>
                </response>
            </method>
            <resource path="/pair">
                <method name="GET" id="pair">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="query" name="pairingId"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="pairedId"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="status"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="pairResponse"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="id"/>
                <method name="PUT" id="changeDelegableUserStatus">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="changeDelegableUserStatus"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="changeDelegableUserStatusResponse"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="delegationRequest">
            <method name="POST" id="createDelegationRequest">
                <request>
                    <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="createDelegationRequest"/>
                </request>
                <response>
                    <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="createDelegationRequestResponse"/>
                </response>
            </method>
            <method name="GET" id="searchDelegationRequests">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="query" name="id"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="status"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="type"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="approverUid"/>
                </request>
                <response>
                    <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="delegationRequestsResponse"/>
                </response>
            </method>
            <resource path="/{id}">
                <method name="PUT" id="changeDelegationRequestState">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="changeDelegationRequestStatus"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="changeDelegationRequestStateResponse"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="user">
            <resource path="/{uid}/settings">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="uid"/>
                <method name="GET" id="getUserSettings">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" mediaType="application/xml" element="userConfigurationResponse"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
