Work/src/tasks/amx_wadl_creation/application_new_wadl.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 2.5.1 2014-01-02 13:43:00"/>
    <doc xmlns:jersey="http://jersey.java.net/" jersey:hint="This is simplified WADL with user and core resources only. To get full WADL with extended resources use the query parameter detail. Link: http://localhost:8889/delegations-api/application.wadl?detail=true"/>
    <grammars>
        <include href="application.wadl/xsd0.xsd">
            <doc xml:lang="en" title="Generated"/>
        </include>
    </grammars>
    <resources base="http://localhost:8889/delegations-api/">
        <resource path="template">
            <method name="POST" id="createTemplate">
                <request>
                    <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:createTemplate"/>
                </request>
                <response>
                    <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:createTemplateResponse"/>
                </response>
            </method>
            <method name="GET" id="searchForTemplates">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="query" name="id"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="type"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="status"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="ownerUid"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="validFrom"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="false" type="xs:boolean" style="query" name="withGrantsConfiguration"/>
                </request>
                <response>
                    <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:templatesResponse"/>
                </response>
            </method>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="PUT" id="changeTemplateStatus">
                    <request>
                        <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:changeTemplate"/>
                    </request>
                    <response>
                        <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:changeTemplateResponse"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="delegation">
            <method name="GET" id="searchDelegations">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="ids"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="entityIds"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="query" name="delegationRequestId"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="delegatorUid"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="delegeeUid"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="query" name="delegableUserId"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="ownerUid"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="status"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="type"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="query" name="templateId"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="createdBy"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="sourceSystem"/>
                </request>
                <response>
                    <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:delegationsResponse"/>
                </response>
            </method>
            <method name="POST" id="createDelegations">
                <request>
                    <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:createDelegations"/>
                </request>
                <response>
                    <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:createDelegationsResponse"/>
                </response>
            </method>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="PUT" id="updateDelegation">
                    <request>
                        <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:updateDelegation"/>
                    </request>
                    <response>
                        <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:updateDelegationResponse"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="UCDService_Read">
            <resource path="/getEntities">
                <method name="POST" id="getEntities">
                    <request>
                        <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:request"/>
                    </request>
                    <response>
                        <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:entityResponse"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="grant">
            <method name="GET" id="searchForGrants">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="query" name="templateId"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="entityTypes"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="grantName"/>
                </request>
                <response>
                    <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:grantsResponse"/>
                </response>
            </method>
        </resource>
        <resource path="delegableUser">
            <method name="GET" id="searchForDelegableUsers">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="query" name="id"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="status"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="emailRequested"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="label"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="delegatorUid"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="delegeeUid"/>
                </request>
                <response>
                    <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:delegableUsersResponse"/>
                </response>
            </method>
            <method name="POST" id="addDelegableUserToDelegator">
                <request>
                    <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:addDelegableUserToDelegator"/>
                </request>
                <response>
                    <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:addDelegaleUserToDelegatorResponse"/>
                </response>
            </method>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="PUT" id="changeDelegableUserStatus">
                    <request>
                        <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:changeDelegableUser"/>
                    </request>
                    <response>
                        <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:changeDelegableUserResponse"/>
                    </response>
                </method>
            </resource>
            <resource path="/pair">
                <method name="GET" id="pair">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="query" name="pairing-id"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="paired-id"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="status"/>
                    </request>
                    <response>
                        <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:pairResponse"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="delegationRequest">
            <method name="GET" id="searchDelegationRequests">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="query" name="id"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="status"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="type"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="approverUid"/>
                </request>
                <response>
                    <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:delegationRequestsResponse"/>
                </response>
            </method>
            <method name="POST" id="createDelegationRequest">
                <request>
                    <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:createDelegationRequest"/>
                </request>
                <response>
                    <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:createDelegationRequestResponse"/>
                </response>
            </method>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="PUT" id="changeDelegationRequest">
                    <request>
                        <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:changeDelegationRequest"/>
                    </request>
                    <response>
                        <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:changeDelegationRequestResponse"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="user">
            <resource path="/{uid}/settings">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="uid"/>
                <method name="GET" id="getUserSettings">
                    <response>
                        <representation xmlns:ns2="http://www.telekom.sk/delegations/api" mediaType="application/xml" element="ns2:userConfigurationResponse"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
