Work/src/tasks/wadl_to_wsdl/outputwsdl/output.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2015. All rights reserved for autor and owner of email domain JLyc.Development@gmial.com.
  -->


<definitions name="Delegations_API"
             targetNamespace="http://www.t-mobile.sk/delegation-api"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://www.t-mobile.sk/delegation-api"
             xmlns:xsd1="http://www.t-mobile.sk/delegation-api/xsd"
             xmlns:xsd2="http://www.t-mobile.sk/delegation-api/template"
             xmlns:xsd3="http://www.t-mobile.sk/delegation-api/delegation"
             xmlns:xsd4="http://www.t-mobile.sk/delegation-api/grants"
             xmlns:xsd5="http://www.t-mobile.sk/delegation-api/delegationRequests"
             xmlns:xsd6="http://www.t-mobile.sk/delegation-api/delegationUser"
             xmlns:xsd7="http://www.t-mobile.sk/delegation-api/delegationUserPair"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             >

    <!-- Schema -->
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.t-mobile.sk/delegation-api/xsd">
            <xsd:include schemaLocation="xsd0.xsd"/>
        </xsd:schema>

        <xsd:schema targetNamespace="http://www.t-mobile.sk/delegation-api/template">
            <xsd:element name="template">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:long" name="id" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="type" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="status" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="ownerUid" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="validFrom" minOccurs="0"/>
                        <xsd:element default="false" type="xsd:boolean" name="withGrantsConfiguration"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>

        <xsd:schema targetNamespace="http://www.t-mobile.sk/delegation-api/delegation">
            <xsd:element name="delegation">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:string"  name="ids" minOccurs="0"/>
                        <xsd:element type="xsd:string"  name="entityIds" minOccurs="0"/>
                        <xsd:element type="xsd:long"  name="delegationRequestId" minOccurs="0"/>
                        <xsd:element type="xsd:string"  name="delegatorUid" minOccurs="0"/>
                        <xsd:element type="xsd:string"  name="delegeeUid" minOccurs="0"/>
                        <xsd:element type="xsd:string"  name="delegableUserId" minOccurs="0"/>
                        <xsd:element type="xsd:string"  name="ownerUid" minOccurs="0"/>
                        <xsd:element type="xsd:string"  name="status" minOccurs="0"/>
                        <xsd:element type="xsd:string"  name="type" minOccurs="0"/>
                        <xsd:element type="xsd:long"  name="templateId" minOccurs="0"/>
                        <xsd:element type="xsd:string"  name="createdBy" minOccurs="0"/>
                        <xsd:element type="xsd:string"  name="sourceSystem" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>

        <xsd:schema targetNamespace="http://www.t-mobile.sk/delegation-api/grants">
            <xsd:element name="grants">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:long" name="templateId" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="entityTypes" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="grantName" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>

        <xsd:schema targetNamespace="http://www.t-mobile.sk/delegation-api/delegationRequests">
            <xsd:element name="delegationRequests">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:long" name="id" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="status" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="type" minOccurs="0"/>
                        <xsd:element type="xsd:string"  name="approverUid" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>

        <xsd:schema targetNamespace="http://www.t-mobile.sk/delegation-api/delegationUser">
            <xsd:element name="delegationUser">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:long" name="id" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="status" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="emailRequested" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="label" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="delegatorUid" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="delegeeUid" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>

        <xsd:schema targetNamespace="http://www.t-mobile.sk/delegation-api/delegationUserPair">
            <xsd:element name="delegationUserPair">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:long" name="pairingId" minOccurs="0"/>
                        <xsd:element type="xsd:string"  name="pairedId" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="status" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>

    </types>

    <!-- Messages <part name="inputPart" element="xsd1:createTemplate"/>-->
    <message name="createTemplateIn">
        <part name="inputPart" element="xsd1:createTemplate"/>
    </message>
    <message name="createTemplateOut">
        <part name="outputPart" element="xsd1:createTemplateResponse"/>
    </message>

    <message name="searchForTemplatesIn">
        <part name="inputPart" element="xsd2:template"/>
    </message>
    <message name="searchForTemplatesOut">
        <part name="outputPart" element="xsd1:templateResponse"/>
    </message>

    <message name="changeTemplateStatusIn">
        <part name="inputPart" element="xsd1:changeTemplateStatus"/>
    </message>
    <message name="changeTemplateStatusOut">
        <part name="outputPart" element="xsd1:changeTemplateStatusResponse"/>
    </message>

    <message name="searchDelegationsIn">
        <part name="inputPart" element="xsd3:delegation"/>
    </message>
    <message name="searchDelegationsOut">
        <part name="outputPart" element="xsd1:delegationsResponse"/>
    </message>

    <message name="createDelegationsIn">
        <part name="inputPart" element="xsd1:createDelegations"/>
    </message>
    <message name="createDelegationsOut">
        <part name="outputPart" element="xsd1:createDelegationsResponse"/>
    </message>

    <message name="updateDelegationsIn">
        <part name="inputPart" element="xsd1:updateDelegation"/>
    </message>
    <message name="updateDelegationsOut">
        <part name="outputPart" element="xsd1:updateDelegationResponse"/>
    </message>

    <message name="searchForGrantsIn">
        <part name="inputPart" element="xsd4:grants"/>
    </message>
    <message name="searchForGrantsOut">
        <part name="outputPart" element="xsd1:grantsResponse"/>
    </message>


    <message name="getUserSettingsOut">
        <part name="outputPart" element="xsd1:userConfigurationResponse"/>
    </message>

    <message name="createDelegationRequestIn">
        <part name="inputPart" element="xsd1:createDelegationRequest"/>
    </message>
    <message name="createDelegationRequestOut">
        <part name="outputPart" element="xsd1:createDelegationRequestResponse"/>
    </message>

    <message name="searchDelegationRequestsIn">
        <part name="inputPart" element="xsd5:delegationRequests"/>
    </message>
    <message name="searchDelegationRequestsOut">
        <part name="outputPart" element="xsd1:delegationRequestsResponse"/>
    </message>

    <message name="changeDelegationRequestStateIn">
        <part name="inputPart" element="xsd1:changeDelegationRequestStatus"/>
    </message>
    <message name="changeDelegationRequestStateOut">
        <part name="outputPart" element="xsd1:changeDelegationRequestStatus"/>
    </message>

    <message name="addDelegableUserToDelegatorIn">
        <part name="inputPart" element="xsd1:addDelegableUserToDelegator"/>
    </message>
    <message name="addDelegableUserToDelegatorOut">
        <part name="outputPart" element="xsd1:addDelegaleUserToDelegatorResponse"/>
    </message>

    <message name="searchForDelegableUsersIn">
        <part name="inputPart" element="xsd6:delegationUser"/>
    </message>
    <message name="searchForDelegableUsersOut">
        <part name="outputPart" element="xsd1:delegableUsersResponse"/>
    </message>

    <message name="pairIn">
        <part name="inputPart" element="xsd7:delegationUserPair"/>
    </message>
    <message name="pairOut">
        <part name="outputPart" element="xsd1:pairResponse"/>
    </message>

    <message name="changeDelegableUserStatusIn">
        <part name="inputPart" element="xsd1:changeDelegableUserStatus"/>
    </message>
    <message name="changeDelegableUserStatusOut">
        <part name="outputPart" element="xsd1:changeDelegableUserStatusResponse"/>
    </message>



    <!-- Port Types -->
    <portType name="Delegations_APIPortType">

        <operation name="searchForTemplates">
            <input message="tns:searchForTemplatesIn" />
            <output message="tns:searchForTemplatesOut" />
        </operation>

        <operation name="createTemplate">
            <input message="tns:createTemplateIn" />
            <output message="tns:createTemplateOut" />
        </operation>

        <operation name="changeTemplateStatus">
            <input message="tns:changeTemplateStatusIn" />
            <output message="tns:changeTemplateStatusOut" />
        </operation>

        <operation name="searchDelegations">
            <input message="tns:searchDelegationsIn" />
            <output message="tns:searchDelegationsOut" />
        </operation>

        <operation name="createDelegations">
            <input message="tns:createDelegationsIn" />
            <output message="tns:createDelegationsOut" />
        </operation>

        <operation name="updateDelegations">
            <input message="tns:updateDelegationsIn" />
            <output message="tns:updateDelegationsOut" />
        </operation>

        <operation name="searchForGrants">
            <input message="tns:searchForGrantsIn" />
            <output message="tns:searchForGrantsOut" />
        </operation>

        <operation name="getUserSettings">
            <output message="tns:getUserSettingsOut" />
        </operation>

        <operation name="createDelegationRequest">
            <input message="tns:createDelegationRequestIn" />
            <output message="tns:createDelegationRequestOut" />
        </operation>

        <operation name="searchDelegationRequests">
            <input message="tns:searchDelegationRequestsIn" />
            <output message="tns:searchDelegationRequestsOut" />
        </operation>

        <operation name="changeDelegationRequestState">
            <input message="tns:changeDelegationRequestStateIn" />
            <output message="tns:changeDelegationRequestStateOut" />
        </operation>

        <operation name="addDelegableUserToDelegator">
            <input message="tns:addDelegableUserToDelegatorIn" />
            <output message="tns:addDelegableUserToDelegatoreOut" />
        </operation>

        <operation name="searchForDelegableUsers">
            <input message="tns:searchForDelegableUsersIn" />
            <output message="tns:searchForDelegableUsersOut" />
        </operation>

        <operation name="pair">
            <input message="tns:pairIn" />
            <output message="tns:pairOut" />
        </operation>

        <operation name="changeDelegableUserStatus">
            <input message="tns:changeDelegableUserStatusIn" />
            <output message="tns:changeDelegableUserStatusOut" />
        </operation>

    </portType>


<!--    &lt;!&ndash; Bindings &ndash;&gt;
    <binding name="Delegations_APIPortTypeHTTPBinding" type="tns:Delegations_APIPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <operation name="searchForTemplates">
            <soap:operation soapAction="searchForTemplates" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="createTemplate">
            <soap:operation soapAction="createTemplate" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="changeTemplateStatus">
            <soap:operation soapAction="changeTemplateStatus" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="searchDelegations">
            <soap:operation soapAction="searchDelegations" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="createDelegations">
            <soap:operation soapAction="createDelegations" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="updateDelegations">
            <soap:operation soapAction="updateDelegations" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="searchForGrants">
            <soap:operation soapAction="searchForGrants" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="getUserSettings">
            <soap:operation soapAction="getUserSettings" style="document" />
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="createDelegationRequest">
            <soap:operation soapAction="createDelegationRequest" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="searchDelegationRequests">
            <soap:operation soapAction="searchDelegationRequests" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="changeDelegationRequestState">
            <soap:operation soapAction="changeDelegationRequestState" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="addDelegableUserToDelegator">
            <soap:operation soapAction="addDelegableUserToDelegator" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="searchForDelegableUsers">
            <soap:operation soapAction="searchForDelegableUsers" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>-->
    <!-- Bindings -->
    <binding name="TemplatePortTypeHTTPBinding" type="tns:Delegations_APIPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="searchForTemplates">
            <soap:operation soapAction="searchForTemplates" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="createTemplate">
            <soap:operation soapAction="createTemplate" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <!-- Bindings -->
    <binding name="TemplateIDPortTypeHTTPBinding" type="tns:Delegations_APIPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="changeTemplateStatus">
            <soap:operation soapAction="changeTemplateStatus" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <!-- Bindings -->
    <binding name="DelegationsPortTypeHTTPBinding" type="tns:Delegations_APIPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <operation name="searchDelegations">
            <soap:operation soapAction="searchDelegations" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="createDelegations">
            <soap:operation soapAction="createDelegations" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <!-- Bindings -->
    <binding name="DelegationsIDPortTypeHTTPBinding" type="tns:Delegations_APIPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="updateDelegations">
            <soap:operation soapAction="updateDelegations" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <!-- Bindings -->
    <binding name="GrantsPortTypeHTTPBinding" type="tns:Delegations_APIPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="searchForGrants">
            <soap:operation soapAction="searchForGrants" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <!-- Bindings -->
    <binding name="DelegableUserPairPortTypeHTTPBinding" type="tns:Delegations_APIPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="pair">
            <soap:operation soapAction="pair" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <!-- Bindings -->
    <binding name="UserSettingsPortTypeHTTPBinding" type="tns:Delegations_APIPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="changeDelegableUserStatus">
            <soap:operation soapAction="changeDelegableUserStatus" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <!-- Bindings -->
    <binding name="DelegationRequestPortTypeHTTPBinding" type="tns:Delegations_APIPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="createDelegationRequest">
            <soap:operation soapAction="createDelegationRequest" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="searchDelegationRequests">
            <soap:operation soapAction="searchDelegationRequests" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <!-- Bindings -->
    <binding name="DelegationRequestIDPortTypeHTTPBinding" type="tns:Delegations_APIPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="changeDelegationRequestState">
            <soap:operation soapAction="changeDelegationRequestState" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <!-- Bindings -->
    <binding name="DelegableUserPortTypeHTTPBinding" type="tns:Delegations_APIPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="addDelegableUserToDelegator">
            <soap:operation soapAction="addDelegableUserToDelegator" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="searchForDelegableUsers">
            <soap:operation soapAction="searchForDelegableUsers" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <!-- Bindings -->
    <binding name="DelegableUserIDPortTypeHTTPBinding" type="tns:Delegations_APIPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="searchForDelegableUsers">
            <soap:operation soapAction="searchForDelegableUsers" style="document" />
            <input>
                <soap:body parts="inputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body parts="outputPart" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>






    <!-- Partner links -->
    <plnk:partnerLinkType name="Delegations_APIPartnerLink">
        <plnk:role name="Delegations_APISoapProviderRole">
            <plnk:portType name="tns:Delegations_APISoapPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>

    <!-- Bindings -->
    <service name="Delegations_API">
        <!--<port name="Delegations_APIPortHTTP" binding="tns:Delegations_APIPortTypeHTTPBinding">
            <soap:address location="http://idmtsta1.st.sk/delegations-api/Delegations_API.serviceagent/Delegation_APIPortTypeHTTP" />
        </port>
-->
        <port name="TemplatePortHTTP" binding="tns:TemplatePortTypeHTTPBinding">
            <soap:address location="http://idmtsta1.st.sk/delegations-api/template" />
        </port>

        <port name="TemplateIDPortHTTP" binding="tns:TemplateIDPortTypeHTTPBinding">
            <soap:address location="http://idmtsta1.st.sk/delegations-api/template/{id}" />
        </port>

        <port name="DelegationPortHTTP" binding="tns:DelegationsPortTypeHTTPBinding">
            <soap:address location="http://idmtsta1.st.sk/delegations-api/delegation" />
        </port>

        <port name="DelegationIDPortHTTP" binding="tns:DelegationsIDPortTypeHTTPBinding">
            <soap:address location="http://idmtsta1.st.sk/delegations-api/delegation/{id}" />
        </port>

        <port name="GrantsPortHTTP" binding="tns:GrantsPortTypeHTTPBinding">
            <soap:address location="http://idmtsta1.st.sk/delegations-api/grant" />
        </port>

        <port name="DelegableUserPairPortHTTP" binding="tns:DelegableUserPairPortTypeHTTPBinding">
            <soap:address location="http://idmtsta1.st.sk/delegations-api/delegableUser/pair" />
        </port>

        <port name="UserSettingsPortHTTP" binding="tns:UserSettingsPortTypeHTTPBinding">
            <soap:address location="http://idmtsta1.st.sk/delegations-api/{uid}/settings" />
        </port>

        <port name="DelegationRequestPortHTTP" binding="tns:DelegationRequestPortTypeHTTPBinding">
            <soap:address location="http://idmtsta1.st.sk/delegations-api/delegationRequest" />
        </port>

        <port name="DelegationRequestIDPortHTTP" binding="tns:DelegationRequestIDPortTypeHTTPBinding">
            <soap:address location="http://idmtsta1.st.sk/delegations-api/delegationRequest/{id}" />
        </port>

        <port name="DelegableUserPortHTTP" binding="tns:DelegableUserPortTypeHTTPBinding">
            <soap:address location="http://idmtsta1.st.sk/delegations-api/delegableUser" />
        </port>

        <port name="DelegableIDUserPortHTTP" binding="tns:DelegableUserIDPortTypeHTTPBinding">
            <soap:address location="http://idmtsta1.st.sk/delegations-api/delegableUser/{id}" />
        </port>


    </service>

</definitions>