Work/src/clean_sheet2.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:element name="snmp-response-message" type="snmp-response-messageType"/>
    <xs:complexType name="snmp-response-messageType">
        <xs:sequence>
            <xs:element name="status" type="statusType"/>
            <xs:element name="weatherProbe" type="weatherProbeType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="statusType">
        <xs:sequence>
            <xs:element name="result" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="weatherProbeType">
        <xs:all>
            <xs:element name="signalStandard" type="xs:string"/>
            <xs:element name="signalFrameRate" type="xs:string"/>
            <xs:element name="rfLevel" type="xs:string"/>
            <xs:element name="inputIndex" type="xs:string"/>
            <xs:element name="modulationErrorRatio" type="xs:string"/>
            <xs:element name="ToneFlag22khz" type="xs:string"/>
            <xs:element name="bitErrorRate" type="xs:string"/>
            <xs:element name="signalModulationType" type="xs:string"/>
            <xs:element name="inputSignalStatus" type="xs:string"/>
            <xs:element name="streamBitrate" type="xs:string"/>
            <xs:element name="supplyVoltage" type="xs:string"/>
            <xs:element name="networkTransmitChannelIndex" type="xs:string"/>
            <xs:element name="physicalPortNumber" type="xs:string"/>
            <xs:element name="signalOfNoiseRatio" type="xs:string"/>
            <xs:element name="signalPunctureRate" type="xs:string"/>
            <xs:element name="streamSymbolRate" type="xs:string"/>
            <xs:element name="carrierFrequency" type="xs:string"/>
        </xs:all>
        <xs:attribute name="ip" type="xs:string"/>
    </xs:complexType>
</xs:schema>